<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>303748918357-qjcrn77l8t11upt35t6ts5e2ckvn3shr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303748918357-qjcrn77l8t11upt35t6ts5e2ckvn3shr</string>
	<key>API_KEY</key>
	<string>AIzaSyAmCvjh27Ob9iR7pCmLhgHZwoBCQPMaqSg</string>
	<key>GCM_SENDER_ID</key>
	<string>303748918357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kvapps.Groceries</string>
	<key>PROJECT_ID</key>
	<string>kitchendev-befca</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchendev-befca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:303748918357:ios:431acfe6043e12c8</string>
	<key>DATABASE_URL</key>
	<string>https://kitchendev-befca.firebaseio.com</string>
</dict>
</plist>